
.about-container {
    display: flex;
}

.banner-about {
    width: 100%;
    height: 80vh;
    background-size: 100% auto;
    background-position: 0 -200px;
    background-repeat: no-repeat;
    image-rendering: optimizeSpeed;
    position: relative;
    display: flex;
}

.line-banner-about {
    position: absolute;
    top: 18vh;
    left: 2.5vw;
    width: 0.2vw;
    height: 50vh;
    background-color: #fff;
    animation: movelineAbout 1200ms;
}

.text-about {
    position: absolute;
    top: 24vh;
    left: 5vw;
    right: 50vw;
    text-align: justify;
    animation: moveTextAbout 1200ms;
}

.text1, .text2 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: white;
    font-size: 2.8vh;
    line-height: 3.8vh;
}

.line-name {
    position: absolute;
    top: 25.4vh;
    right: 0px;
    width: 15vw;
    height: 0.3vh;
    background-color: white;
}

.firstName {
    position: absolute;
    top: 20vh;
    right: 3vw;
    animation: moveFirstName 1200ms;
}

.secondName {
    position: absolute;
    top: 25.3vh;
    right: 1vw;
    animation: moveSecondName 1200ms;
}

.firstName, .secondName {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #0B73BF;
    font-size: 5vh;
}

@keyframes movelineAbout {
    0% {
        opacity: 0;
        transform: translateY(200px)
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0.2;
    }
    70% {
        opacity: 0.3;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

@keyframes moveTextAbout {
    0% {
        opacity: 0;
        transform: translateY(-200%)
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0.2;
    }
    70% {
        opacity: 0.3;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

@keyframes moveFirstName {
    0% {
        transform: translateX(200%)
    }
    100% {
        transform: translateX(0%)
    }
}

@keyframes moveSecondName {
    0% {
        opacity: 0;
        transform: translateX(-200%)
    }

    50% {
        opacity: 1;
    }
    100% {
        transform: translateX(0%)
    }
}

@media (min-width: 1024px) and (max-width: 1241px) {
    .text-about {
        top: 25%;
    }
    .banner-about {
        background-position: 0 -150px;
    }
}

@media (min-width: 915px) and (max-width: 1023px) {
    .text-about {
        top: 24%;
    }
    .text-about .text1, .text2 {
        font-size: 2.5vh;
    }
    .banner-about {
        background-position: 0 -100px;
    }
}

@media (min-width: 878px) and (max-width: 914px) {
    .text-about {
        top: 25%;
    }
    .text1, .text2 {
        font-size: 2.4vh;
    }
    .banner-about {
        background-position: 0 -100px;
    }
}

@media (min-width: 800px) and (max-width: 877px) {
    .text-about {
        top: 25%;
        right: 45vw;
    }
    .line-banner-about {
        height: 40vh;
    }
    .text-about .text1, .text2 {
        font-size: 2.2vh;
    }
    .banner-about {
        height: 70vh;
        background-position: 0 -100px;
        background-size: cover;
    }
}

@media (max-width: 799px) {
    .banner-about {
        background-position: 0 +50px;
    }
    .text-about {
        top: 20%;
        width: 70vw;
    }
    .text1, .text2 {
        font-size: 2.2vh;
    }
    .line-banner-about {
        top: 18%;
        width: 0.2vw;
        height: 50vh;
    }
}

@media (max-width: 679px) {
    .line-name, .firstName, .secondName {
        display: none;
    }

    .text-about {
        width: 90vw;
    }
}

@media (max-width: 577px) {
    .line-banner-about {
        width: 0.3vw !important;
        height: 40%;
    }
}

@media (max-width: 498px) {
    .text-about {
        top: 14%;
    }
    .text1, .text2 {
        font-size: 1.8vh;
        line-height: 2.1vh;
    }
    .banner-about {
        background-position: 0 +50px;
    }
}