:root {
    --font-default: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.home-container {
    width: 100%;
    height: 100%;
}

.banner-intro {
    width: 100%;
    height: 80%;
    background-color: #233c62;
    position: relative;
    margin-top: 60px;
    display: flex;
}

.left-logo {
    width: 54%;
    height: 80vh;
    position: relative;
}

.left-logo img {
    position: absolute;
    bottom: 0px;
    left: 0px;  
    width: 35%;
    height: 70%;
    -webkit-animation: moveLeftlogo 1700ms;
    -moz-animation: moveLeftLogo 1700ms;
    -o-animation: moveLeftLogo 1700ms;
    animation: moveLeftLogo 1700ms;
}

.line-intro {
    position: absolute;
    left: 20vw;
    bottom: 20vh;
    width: 0.1vw;
    height: 40vh;
    background-color: #cecccc;
    -webkit-animation: moveLine 1400ms;
    -moz-animation: moveLine 1400ms;
    -o-animation: moveLine 1400ms;
    animation: moveLine 1400ms;
}

.text-left {
    position: absolute;
    left: 22vw;
    bottom: 28vh;
    width: 25vw;
    height: 23vh;
    padding: 10px;
}

.text-left .text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2.5vh;
    text-align: left;
    color: #fff;
    line-height: 3.5vh;
    -webkit-animation: textLeft 2s;
    -moz-animation: textLeft 2s;
    -o-animation: textLeft 2s;
    animation: textLeft 2s;
}

.rects .text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2.5vh;
    text-align: left;
    color: #fff;
    line-height: 3.5vh;
    position: absolute;
    right: 5vw;
    left: 16vw;
    bottom: 33vh;
    -webkit-animation: textRight 2000ms;
    -moz-animation: textRight 2000ms;
    -o-animation: textRight 2000ms;
    animation: textRight 2000ms;
}

.rects {
    width: 46%;
    height: 80vh;
    position: relative;
}

.rect3 {
    position: absolute;
    -webkit-animation: moveRect 600ms;
    -moz-animation: moveRect 600ms;
    -o-animation: moveRect 600ms;
    animation: moveRect 600ms;
    display: flex;
    align-items: flex-end;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

.rect3 img {
    width: 100%;
    height: 90%;
}

.rect2 {
    position: absolute;
    -webkit-animation: moveRect 1100ms;
    -moz-animation: moveRect 1100ms;
    -o-animation: moveRect 1100ms;
    animation: moveRect 1100ms;
    display: flex;
    align-items: flex-end;
    bottom: 0px;
    right: 0px;
    width: 94%;
    height: 100%;
}

.rect2 img {
    width: 100%;
    height: 90%;
}

.rect1 {
    position: absolute;
    -webkit-animation: moveRect 1400ms;
    -moz-animation: moveRect 1400ms;
    -o-animation: moveRect 1400ms;
    animation: moveRect 1400ms;
    display: flex;
    align-items: flex-end;
    bottom: 0px;
    right: 0px;
    width: 88%;
    height: 100%;
}

.rect1 img {
    width: 100%;
    height: 90%;
}

.title-grid {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

.line {
    width: 200px;
    height: 2px;
    background-color: #000000;
    border-radius: 2px;
    margin: 0px 30px;
}

.title-grid h2 {
    font-family: var(--font-default);
    font-size: 13px;
}

.grid-posts {
    margin: 20px auto;
    margin-bottom: 20vh;
    max-width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    list-style-type: none;
}

.grid-posts .posts li {
    align-self: center;
}



@keyframes moveRect {
    0% {
        transform: translateX(200%) translateY(-200%) rotate(200deg);
    }
    100% {
        transform: translateX(0%) translateY(0%)
    }
}

@keyframes moveLeftLogo {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);     
    }
}

@keyframes moveLine {
    0% {
        transform: translateY(-200%)
    }
    100% {
        transform: translateY(0%)
    }
}

@keyframes textLeft {
    0% {
        opacity: 0;
        transform: translateX(-30%)
    }
    50% {
        opacity: 0;
    }
    55% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateX(0%)
    }
}

@keyframes textRight {
    0% {
        opacity: 0;
        transform: translateX(200%)
    }
    60% {
        opacity: 1;
    }
    100% {
        transform: translateX(0%)
    }
}

/* MEDIA TELA ATE 400 PX SMATHPHONE */

@media (max-width: 520px) {
    .banner-intro {
        width: 100vw;
        height: 60vh;
        flex-direction: column;
    }
    .left-logo img, .left-logo .line-intro {
        display: none;
    }
    .rect1, .rect2, .rect3 {
        display: none;
    }

    .text-left {
        position: static;
        width: 100%;
        margin: 0;
    }
    .rects, .left-logo {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 20px;

    }
    .rects .text {
        position: static;
        padding: 10px;
        text-align: justify;
        margin-bottom: 10px;
    }
    .text-left .text {
        position: static;
        text-align: justify;
        margin-top: 20px;
    }
    .line {
        width: 20vw;
    }
    .title-grid h2 {
        font-size: 1.5vh;
    }
    .grid-posts {
        max-width: 70%;
        grid-template-columns: 1fr;
    }




    @keyframes textLeft {
        0% {
            opacity: 0;
            transform: translateX(-200%)
        }
        60% {
            opacity: 1;
        }
        100% {
            transform: translateX(0%)
        }
    }
}


@media (min-width: 521px) and (max-width: 720px) {
    .banner-intro {
        width: 100vw;
        height: 60vh;
        flex-direction: column;
    }
    .left-logo img, .left-logo .line-intro {
        display: none;
    }
    .rect1, .rect2, .rect3 {
        display: none;
    }

    .text-left {
        position: static;
        width: 100%;
        margin: 0;
    }
    .rects, .left-logo {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 20px;

    }
    .rects .text {
        position: static;
        padding: 10px;
        text-align: justify;
        margin-bottom: 10px;
    }
    .text-left .text {
        position: static;
        text-align: justify;
        margin-top: 20px;
    }
    .line {
        width: 20vw;
    }
    .title-grid h2 {
        font-size: 1.5vh;
    }
    .grid-posts {
        max-width: 70%;
        grid-template-columns: 1fr;
    }




    @keyframes textLeft {
        0% {
            opacity: 0;
            transform: translateX(-200%)
        }
        60% {
            opacity: 1;
        }
        100% {
            transform: translateX(0%)
        }
    }
}

@media (min-width: 650px) and (max-width: 1160px) {
    .grid-posts {
        width: 70%;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 721px) and (max-width: 1150px) {
    .banner-intro {
        height: 70vh;
    }
    .left-logo {
        height: 70vh;
    }
    .left-logo img {
        width: 40%;
        height: 60%;
    }
    .line-intro {
        height: 30vh;
        left: 22vw;
        bottom: 15vh;
        width: 0.2vw;
    }
    .text-left {
        bottom: 21vh;
        left: 24vw;
        width: 26vw;
    }
    .text-left .text {
        font-size: 2vh;
        
    }
    .rects .text {
        font-size: 2vh;
        bottom: 25vh;
        right: 3vw;
        left: 18vw;
    }
    .rects {
        width: 47%;
        height: 70vh;
    }

}

@media (min-width: 996px) and (max-width: 1150px) {
    .text-left {
        bottom: 19vh;
    }
    .rects .text {
        bottom: 28vh;
    }
}