:root {
    --font-default: 'Roboto', sans-serif;
}

header.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #000000;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
    position: fixed;
    top: 0%;
    z-index: 10;
}

.header .logo-area {
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    animation: moveLogoHeader 1500ms;
}

.header .logo-area .logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.header .logo-area .logo {
    width: 40px;
    height: 38px;
}

.header .logo-area .logo-name {
    font-family: var(--font-default);
    font-size: 15px;
    color: white;
}

.header .nav-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 2;
}

.header .nav-area .link {
    font-family: var(--font-default);
    font-size: 11px;
    color: white;
    margin: 0 10px;
    padding: 5px;
    text-decoration: none;
}

.header .nav-area .link:hover {
    font-weight: bold;
}

.header .nav-area .link.active {
    font-weight: bold;
    font-size: 12px;
    padding-bottom: 6px;
}

.btn-login {
    background-color: white;
    color: black;
    padding: 5px;
    text-decoration: none;
    font-family: var(--font-default);
    font-size: 13px;
    font-weight: bold;
    margin-left: 20px;
}

.btn-login {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #2098D1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-radius: 3px;
  }
  .btn-login:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 3px;
  }
  .btn-login:hover, .btn-login:focus, .btn-login:active {
    color: white;
  }
  .btn-login:hover:before, .btn-login:focus:before, .btn-login:active:before {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }

.btn-logout {
    background-color: white;
    color: black;
    padding: 5px;
    text-decoration: none;
    font-family: var(--font-default);
    font-size: 13px;
    font-weight: bold;
    margin-left: 10px;
}

.btn-logout {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #2098D1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-radius: 3px;
  }
  .btn-logout:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    border-radius: 3px;
  }
  .btn-logout:hover, .btn-logout:focus, .btn-logout:active {
    color: white;
  }
  .btn-logout:hover:before, .btn-logout:focus:before, .btn-logout:active:before {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }

@keyframes moveLogoHeader {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}