header.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: teal;
}

.header .logo-area {
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.header .logo-area .logo-name {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    background-color: white;
    padding: 5px;
    border-radius: 3px;
}

.header .nav-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 2;
}

.header .nav-area .link {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: white;
    margin: 0 10px;
    padding: 5px;
    text-decoration: none;
}

.header .nav-area .link:hover {
    font-weight: bold;
    font-size: 13px;
    padding-bottom: 6px;
} 

.header .nav-area .link.link-active {
    font-weight: bold;
    font-size: 13px;
    padding-bottom: 6px;
}