
footer {
    width: 100%;
    height: 45px;
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
}

.footer-text {
    color: #fff;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    margin: 5px 5px;
}

.icon-love {
    color: #fff;
    width: 15px !important;
    height: 16px !important;
}

.to-top {
    position: absolute;
    right: 100px;
    bottom: 20px;
    width: 45px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    background-color: #727272;
}

.to-top:hover {
    background-color: #233c62;
}

.icon-up {
    color: white;
}


@media (max-width: 706px) {
    footer {
        height: 60px;
    }
    .footer-text {
        font-size: 1.8vh;
    }
}

@media (max-width: 706px) {
    .to-top {
        width: 40px;
        height: 45px;
        bottom: 45px;
        right: 50px;
    }
}