* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #102036;
}

.card-login {
    width: 20vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    border-radius: 5px;
    padding: 30px 25px;
}

.icon-avatar {
    background-color: #00bfff !important;
    border-radius: 50%;
    width: 3vw !important;
    height: 6vh !important;
    padding: 5px;
}

.labelLogin {
    margin: 1vh 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
}

.input {
    margin: 2vh auto !important;
    height: 4vh !important;
}

.input label {
    font-family: 'Roboto', sans-serif !important;
    font-size: 1vw !important;
}

.input .MuiInputBase-input {
    font-family: 'Roboto', sans-serif !important;
    font-size: 1vw !important;
}

.input .MuiInputAdornment-root svg {
    width: 1vw;
    height: 2vh;
}

.errorText {
    color: #f50057;
    margin-bottom: 5px;
    text-align: center;
}

.submit {
    margin: 5vh auto 0 auto !important;
    margin-top: 6vh !important;
    color: #fff;
    background-color: #00bfff !important;
}

.submit:hover {
    background-color: #1e90ff !important;
    color: #fff !important;
}

.view-icon:hover {
    cursor: pointer;
}

