
:root {
    --font-default: 'Roboto', sans-serif;
}

.card {
    width: 100%;
    height: 22vh;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.card {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .card:hover, .card:focus, .card:active {
      cursor: pointer;
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }

.card-header {
    width: 100%;
    height: auto;
    background-color: #233c62;
    opacity: .85;
    padding: 5px 10px;
    border-radius: 5px 5px 0px 0px;
}

.card-header h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: white;
    margin: 4px 0px;
}

.card-header p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: white;
    padding-bottom: 3px;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paper {
    width: 50vw;
    height: 90vh;
    padding: 8px;
    outline: 0;
    border-radius: 8px;
}

.img-principal {
    width: 98%;
    height: 350px;
    margin: 10px auto;
}

.title-area {
    margin: 20px auto;
    text-align: center;
}

.title-area h2 {
    font-family: var(--font-default);
}

.info-area {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
}

.info-area p {
    font-family: var(--font-default);
}

.post-content {
    width: 95%;
    max-height: 200px;
    margin: 30px auto;
    position: relative;   
}

@-webkit-keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-16px);
      transform: translateY(-16px);
    }
    50% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    100% {
      -webkit-transform: translateY(-16px);
      transform: translateY(-16px);
    }
  }
  @keyframes hvr-bob {
    0% {
      -webkit-transform: translateY(-16px);
      transform: translateY(-16px);
    }
    50% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    100% {
      -webkit-transform: translateY(-16px);
      transform: translateY(-16px);
    }
  }
  @-webkit-keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-16px);
      transform: translateY(-16px);
    }
  }
  @keyframes hvr-bob-float {
    100% {
      -webkit-transform: translateY(-16px);
      transform: translateY(-16px);
    }
  }