.card {
    width: 250px;
    height: 150px;
    background-color: #333;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.card:hover {
    cursor: pointer;
}

.card-header {
    width: 100%;
    height: 50px;
    background-color: #233c62;
    opacity: 85%;
    padding: 5px 10px;
    border-radius: 5px 5px 0px 0px;
}

.card-header h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: white;
    margin: 4px 0px;
}

.card-header p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: white;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paper {
    width: 50vw;
    height: 90vh;
    background-color: #fff;
    padding: 8px;
    outline: 0;
    border-radius: 8px;
}

.img-principal {
    width: 98%;
    height: 350px;
    margin: 10px auto;
}

.title-area {
    margin: 20px auto;
    text-align: center;
}

.info-area {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
}

.post-content {
    width: 95%;
    max-height: 200px;
    margin: 30px auto;
    position: relative;
    
}
