
* {
    box-sizing: border-box;
}

.form-post-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
}

.post-title-box {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
}

#local-input {
    margin-top: 7px;
    width: 800px;
}

#img-input {
    min-width: 700px;
}

.input-size, .input-position, .input-repeat {
    width: 120px;
}

.container-editor {
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.container-editor .jodit_container .jodit_workplace .jodit_wysiwyg {
    padding: 40px;
}

.title-editor {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
}

.btn-box {
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn.publish {
    background-color: #233c62;
    color: white;
}

.btn.publish:hover {
    background-color: #1e90ff;
}
